
@{
    ViewData["Title"] = "Deletar";
    var livro = ViewBag.Livro;
    var pev = "; ";
    var virg = ", ";
}
<br />
@foreach (var titulo in livro)
{
    <h1 class="text-center">@titulo.Titulo - @ViewData["Title"]</h1>
}
<br />
<h3 class="text-center">Tem certeza que deseja deletar esse livro?</h3>

<div class="text-center">
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            Título
        </dt>
        <dd class="col-sm-6">
            @foreach (var titulo in livro)
            {
                @titulo.Titulo
            }
        </dd>
        <dt class="col-sm-6">
            Edição
        </dt>
        <dd class="col-sm-6">
            @foreach (var edicao in livro)
            {
                @edicao.Edicao
            }
        </dd>
        <dt class="col-sm-6">
            Ano
        </dt>
        <dd class="col-sm-6">
            @foreach (var ano in livro)
            {
                @ano.Ano
            }
        </dd>
        <dt class="col-sm-6">
            Editora
        </dt>
        <dd class="col-sm-6">
            @foreach (var editora in livro)
            {
                @editora.Editora
            }
        </dd>
        <dt class="col-sm-6">
            Autor
        </dt>
        <dd class="col-sm-6">
            @foreach (var livros in livro)
            {
                @foreach (var autor in livros.Autores)
                {
                    @autor @pev
                }
            }
        </dd>
        <dt class="col-sm-6">
            Assunto
        </dt>
        <dd class="col-sm-6">
            @foreach (var livros in livro)
            {
                @foreach (var assunto in livros.Assuntos)
                {
                    @assunto @virg
                }
            }
        </dd>

    </dl>
</div>
<div class="text-center">
    @foreach (var livros in livro)
    {
        <form asp-action="Delete">
            <input type="hidden" asp-route-id="@livros.Id" />
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </form>
        <a asp-action="Index">Voltar</a>
    }
</div>

