
@{
    ViewData["Title"] = "Deletar";
    var livro = ViewBag.Livro;
    var pev = "; ";
    var virg = ", ";
    int i = 0;
    int c = 0;
}
<br />
<h3 class="text-center mb-5">Tem certeza que deseja deletar esse livro?</h3>
<br />

<div class="d-flex flex-row flex-wrap livro-delete justify-content-center">
    <div class="d-flex">
        @foreach (var livros in livro)
        {
            @if (livros.Foto != null)
            {
                <div>
                    <img src="/Livros/selecionarFoto/@livros.Id" class="foto-delete" />
                </div>
            }
            else
            {
                <div class="text-center">
                    <img src="~/image/sem-foto.jpg" alt="Sem foto" class="foto" />
                </div>
            }

        }
        <br />
    </div>
    <div class="d-flex flex-column div-delete justify-content-between">
        <div>
            <div class="d-flex flex-row">
                <h5>
                    @foreach (var titulo in livro)
                    {
                        @titulo.Titulo
                    }
                </h5> -
                <p>
                    @foreach (var livros in livro)
                    {
                        @foreach (var autor in livros.Autores)
                        {
                            @autor
                            i++;
                            @if (i > 1)
                            {
                                @pev
                            }
                        }
                    }
                </p>
            </div>
            <p>
                @foreach (var edicao in livro)
                {
                    @edicao.Edicao
                } ª edição -
                @foreach (var ano in livro)
                {
                    @ano.Ano
                }
            </p>
            <p>
                <b>Editora: </b>
                @foreach (var editora in livro)
                {
                    @editora.Editora
                }
            </p>
            <p>
                <b>Assunto: </b>
                @foreach (var livros in livro)
                {
                    @foreach (var assunto in livros.Assuntos)
                    {
                        @assunto
                        c++;
                        if (c > 1)
                        {
                            @virg
                        }
                    }
                }
            </p>
        </div>
        <div>
        </div>
    </div>
</div>
<div class="text-center mt-5">
   
    <form asp-action="Delete">
        @foreach (var livros in livro)
        {
            <input type="hidden" value="@livros.Id" name="id"/> 
            }
            <input type="submit" value="Deletar" class="btn btn-danger w-25" />
        </form>
        <a asp-action="Index" class="text-left">Voltar</a>
</div>

