@{
    var livro = ViewBag.Livro;
    var pev = "; ";
    var virg = ", ";
}
<br />
@foreach (var livros in livro)
{
    <h1 class="text-center">
        @livros.Titulo
    <a asp-action="Edit" asp-route-id="@livros.Id" class="btn btn-secondary text-center">Editar</a>
</h1>
}

<div class="text-center">
    <hr />
    @foreach (var foto in livro)
    {
        @if (foto.Foto != null)
        {
            <div class="div-foto">
                <img src="/Livros/selecionarFoto/@foto.Id" class="foto" />
            </div>
        }
        else
        {
            <div class="foto text-center">
                <img src="~/image/sem-foto.jpg" alt="Sem foto" />
            </div>
        }

    }
    <br />
    <dl class="row">
        <dt class="col-sm-6 text-right">
            Título
        </dt>
        <dd class="col-sm-6 text-left">
            @foreach (var titulo in livro)
            {
                @titulo.Titulo
            }
        </dd>
        <dt class="col-sm-6 text-right">
            Edição
        </dt>
        <dd class="col-sm-6 text-left">
            @foreach (var edicao in livro)
            {
                @edicao.Edicao
            }
        </dd>
        <dt class="col-sm-6 text-right">
            Ano
        </dt>
        <dd class="col-sm-6 text-left">
            @foreach (var ano in livro)
            {
                @ano.Ano
            }
        </dd>
        <dt class="col-sm-6 text-right">
            Editora
        </dt>
        <dd class="col-sm-6 text-left">
            @foreach (var editora in livro)
            {
                @editora.Editora
            }
        </dd>
        <dt class="col-sm-6 text-right">
            Autor
        </dt>
        <dd class="col-sm-6 text-left">
            @foreach (var livros in livro)
            {
                @foreach (var autor in livros.Autores)
                {
                    @autor @pev
                }
            }
        </dd>
        <dt class="col-sm-6 text-right">
            Assunto
        </dt>
        <dd class="col-sm-6 text-left">
            @foreach (var livros in livro)
            {
                @foreach (var assunto in livros.Assuntos)
                {
                    @assunto @virg
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="text-left text-dark"> &larr; <u class="text-dark">Voltar</u></a>
</div>
