@{
    Layout = "_Layout";
    ViewData["Title"] = "Editar";
    var livro = ViewBag.Livro;
}

<h3>@ViewData["Title"]</h3>
<br />

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="d-flex flex-column div-create justify-content-center">
        @foreach (var livros in livro)
        {<div class="d-flex flex-row justify-content-start">
                <b>Capa</b>
                <input type="file" name="foto" class="input-add" value="@livros.Foto" />
            </div>
            <input type="hidden" value="@livros.Id" name="id" />
            <div class="d-flex flex-row justify-content-start">
                <b>Título</b> <input type="text" name="titulo" value="@livros.Titulo" class="input-add" />
            </div>
            <div class="d-flex flex-row justify-content-start">
                <b>Edição</b> <input type="text" name="edicao" value="@livros.Edicao" class="input-add" />
            </div>
            <div class="d-flex flex-row justify-content-start">
                <b>Ano</b> <input type="text" name="ano" value="@livros.Ano" class="input-add" />
            </div>
            <div class="d-flex flex-row justify-content-start">
                <b>Editora</b> <input type="text" name="editora" value="@livros.Editora" class="input-add" />
            </div>

            @foreach (var assunto in ViewBag.Assunto)
            {
                <div class="d-flex flex-row justify-content-start">
                    <b>Assunto</b>
                    @Html.DropDownList("assuntos", (SelectList)assunto, new { @class = "input-add" })
                </div>
            }

            @foreach (var autores in livros.Autores)
            {
                <div class="d-flex flex-row justify-content-start">
                    <b>Autor</b> <input type="text" name="autores" value="@autores" class="input-add" />
                </div>
            }
        }
        <div class="div-novo-livro">
            <input type="submit" value="Salvar" class="novo-livro add-livro" />
        </div>
    </div>
</form>

<div class="voltar">
    <a asp-action="Index"> &larr; Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
