
@{
    ViewData["Title"] = "Editar";
    var livro = ViewBag.Livro;
}

}
<br />
@foreach (var titulo in livro)
{
    <h1 class="text-center">@titulo.Titulo</h1>
}
<h3 class="text-center">@ViewData["Title"]</h3>
<br />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @foreach (var livros in livro)
            {
                <div class="form-group">
                    Título <input type="text" name="titulo" value="@livros.Titulo" class="form-control" />
                </div>
            }
            @foreach (var livros in livro)
            {
                <div class="form-group">
                    Edição <input type="text" name="edicao" value="@livros.Edicao" class="form-control" />
                </div>
            }
            @foreach (var livros in livro)
            {
                <div class="form-group">
                    Ano <input type="text" name="ano" value="@livros.Ano" class="form-control" />
                </div>
            }
            @foreach (var livros in livro)
            {
                <div class="form-group">
                    Editora <input type="text" name="editora" value="@livros.Editora" class="form-control" />
                </div>
            }

            @foreach (var assunto in ViewBag.Assunto)
            {
                <div class="form-group">
                    Assunto <br />
                    @Html.DropDownList("assuntos", (SelectList)assunto, new { @class = "form-control" })
                </div>
            }

            @foreach (var livros in livro)
            {
                @foreach (var autores in livros.Autores)
                {
                    <div class="form-group">
                        Autor <input type="text" name="autores" value="@autores" class="form-control" />
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
